<div class="row">
    <div class="col-md-9">
        <h1 class="display-4">To Do List</h1>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alrt-warning" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">Sign in</a><span> if you already have an account</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
